SpeechRecognition==3.10.0
openai-whisper
soundfile
ffmpeg
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability
